

#header_row{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 1em;
}


#header_links, #network_choice{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 0.2em;
}


.user_account_button{
    cursor: pointer;
    padding: 0.5em;
    background: #0a0a0a;
    border: 1px solid #303030;
    border-radius: 4px;
    transition: 200ms;
}

.user_account_button:hover{
    box-shadow: 0 0 4px 0px white;
}


#network_choice{
    cursor: pointer;
    background: #0a0a0a;
    border: 1px solid #303030;
    border-radius: 4px;
}


@media (max-width: 480px) {
    #header_row{
        justify-content: center;
        padding-right: 0;
        align-items: center;
    }
 
    #header_links{
        width: 100%;
        justify-content: center;
    }

}

