.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 2s linear infinite;
}

.bar1,
.bar8 {
    animation-delay: 0s;
}

.bar2,
.bar7 {
    animation-delay: 0.1s;
}

.bar3,
.bar6 {
    animation-delay: 0.2s;
}

.bar4,
.bar5 {
    animation-delay: 0.3s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: ;
    }

    50% {
        transform: scaleY(1);
        background: white;
    }

    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}