@import '~antd/dist/antd.min.css';
@import '~antd/dist/antd.dark.min.css';

html {
    scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ant-table-cell, .ant-table-row, .ant-table-thead{
    background: #000000!important;
}

.web3modal-provider-wrapper{
    border-radius: 0;
}

.web3modal-modal-card{
    border-radius: 14px;
    border: 1px solid white;
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.2);
}
