@import '~antd/dist/antd.min.css';
@import '~antd/dist/antd.dark.min.css';

html {
    scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ant-table-cell, .ant-table-row, .ant-table-thead{
    background: #000000!important;
}
